<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="text-center">Welcome to the community</h1>
                <% @users.each do |user| %>
                    <% if user.profile %>
                        <div class="well">
                            <strong><%= "First Name: " %></strong>
                            <%= user.profile.first_name %> </br>
                            <strong><%= "Last Name: " %></strong>
                            <%= user.profile.last_name %> </br>
                            <strong><%= "Contact Email: " %></strong>
                            <%= user.profile.contact_email %> </br>
                            <%= hidden_field_tag 'user_id', params[:user] %>
                            <%= hidden_field_tag 'id', params[:user] %>
                            <%= link_to "See this users goals", user_goals_path(user.id) %>
                            </br>
                        </div>
                    <% end %>
                <% end %>
        </div>    
    </div>        
</div>