<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
                <h1>Goal Homepage</h1>
                    <%= link_to "Create a New Goal", new_user_goal_path %>
                </br>
                </br>
                
                    <!-- @goals should be for all goals for only the current_user -->
                    <% @user.goals.each do |goal| %>
                        <div class="well view-goals">
                            <strong><%= "Goal Type: " %></strong>
                            <%= goal.goal_type %>
                            </br>
                            <strong><%= "Goal Name: " %></strong>
                            <%= goal.goal_name %>
                            </br>
                            <strong><%= "Starting Weight (kg): " %></strong>
                            <%= goal.start %>
                            </br>
                            <strong><%= "Current Weight (kg): " %></strong>
                            <%= goal.current %>
                            </br>
                            <strong><%= "Goal Weight (kg): " %></strong>
                            <%= goal.end_goal %>
                            </br>
                            <%= hidden_field_tag goal.id %>
                            <div class="links_within_goals">
                                <% if (user_signed_in? && (current_user.id == @user.id)) %>
                                    <div class="col-xs-4">
                                        <h5 class="text-center"><%= link_to "Edit your Goal", edit_user_goal_path(user_id: current_user.id, id: goal.id) %></h5>
                                    </div>
                                    <div class="col-xs-4">
                                        <h5 class="text-center"><%= link_to "Delete this goal", user_goal_path(user_id: current_user.id, id: goal.id), data: {:confirm => 'Are you sure?'}, :method => :delete %></h5>
                                    </div>
                                    <div class="col-xs-4">
                                        <h5 class="text-center"><%= link_to "Jump into Goal", user_goal_path(user_id: current_user.id, id: goal.id) %></h5>
                                    </div>
                                <% else %>
                                    <div class="col-md-6 col-md-offset-3">
                                        <h5 class="text-center"><%= link_to "Jump into Goal", user_goal_path(user_id: current_user.id, id: goal.id) %></h5>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
            </div>
        </div>            
    </div>
</div>