<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
                <h1>Goal Homepage</h1>
                </br>
                    <!-- @goals should be for all goals for only the current_user -->
                    <div class="well view-goals">
                        <strong><%= "Goal Type: " %></strong>
                        <%= @specific_goal.goal_type %>
                        </br>
                        <strong><%= "Goal Name: " %></strong>
                        <%= @specific_goal.goal_name %>
                        </br>
                        <strong><%= "Starting Weight (kg): " %></strong>
                        <%= @specific_goal.start %>
                        </br>
                        <strong><%= "Current Weight (kg): " %></strong>
                        <%= @specific_goal.current %>
                        </br>
                        <strong><%= "Goal Weight (kg): " %></strong>
                        <%= @specific_goal.end_goal %>
                        </br>
                        <%= hidden_field_tag @specific_goal.id %>
                    </div>
                <h3><u>Comments</u></h3>
                <%= link_to "Add a comment", new_user_goal_comment_path(user_id: current_user.id, goal_id: @specific_goal.id) %>
                </br>
                
                <% @goal.comments.each do |comment| %>
                    <div class="well view-comments">
                        <!-- This makes every comment show up as whoever has logged in, not who made the comment -->
                        
                            <%= comment.comment %>
                    <% if (user_signed_in? && (current_user.id == @user.id)) %>
                        <p class="text-right delete-comment"><%= link_to "Delete Comment", user_goal_comment_path(goal_id: @specific_goal.id), data: {:confirm => 'Are you sure?'}, :method => :delete %></p>
                    <% end %>
                    </div>
                <% end %>
            </div>
        </div>            
    </div>
</div>